/* Body */
body {
    background-image: url(../img/body_texture.jpg);
    background-repeat: none;
}

/* End of body */
/* Top menu */
body header .top-menu {
    background-color: black;
}

header .top-menu li {
    list-style-type: none;
}

header .top-menu a {
    text-decoration: none;
}

header .top-menu {
    text-align: center;
}

/* End of the top menu */

/* DropDown menu */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top-menu {
    background: white;
    position: relative;
}

.top-menu:after,
.submenu:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu > li {
    display: inline-block;
    float: left;
}

.top-menu > li > a {
    display: block;
    padding: 25px 40px 0 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    transition: .2s linear;
}

.top-menu > li > a:hover {
    color: #B03062;
}

.dropdown {
    pointer-events: none;
}

.link_submenu {
    pointer-events: none;
}

.dropdown:after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 4px;
    vertical-align: top;
}

.submenu,
.submenu-standart {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .07);
    background: black;
    padding: 25px 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 30px, 0);
    transition: .5s ease-out;
    transform-origin: 0% 0%;
}

.submenu {
    width: 100%;
}

.submenu-standart {
    min-width: 200px;
    padding: 10px 30px 10px 0px;
}

.dropdown-standart {
    position: relative;
}

.top-menu > li:hover .submenu,
.top-menu > li:hover .submenu-standart {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.submenu > li {
    float: left;
    width: calc(100% / 3);
    padding: 0 18px;
    border-right: 1px solid #e5e5e5;
}

.submenu-standart li {
    padding: 0 18px;
}

.submenu > li:last-child {
    border-right: none;
}

.submenu img {
    display: block;
    width: 100%;
}

.submenu li a,
.submenu-standart li a {
    display: block;
    padding: 5px 0;
    color: white;
    font-size: 13px;
}

.submenu li .link-image {
    padding: 0;
}

.submenu li a:hover {
    color: #B03062;
}

.submenu h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.submenu-standart li a:hover {
    color: #B03062;
}

/* Adaptability of DropDown menu */
@media (max-width: 992px) {
    .top-menu > li > a {
        display: block;
        padding: 20px 13px 0 0;
        font-size: 13px;
        letter-spacing: 1px;
        color: white;
        transition: .2s linear;
    }
}

@media (max-width: 768px) {
    .top-menu li {
        width: 100%;
        height: auto !important;
    }

    .top-menu > li {
        border-bottom: 1px solid #e5e5e5;
    }

    .top-menu > li > a {
        padding: 18px
    }

    .submenu,
    .submenu-standart {
        position: relative;
        display: none;
        box-shadow: none;
        padding: 0;
        background: rgba(0, 0, 0, .02);
    }

    .submenu-standart {
        padding: 10px 0;
    }

    .submenu > li {
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 18px;
    }

    .submenu h3 {
        margin: 0 0 10px
    }

    .submenu .image-header {
        margin: 10px 0
    }

    .submenu li:last-of-type {
        border-bottom: none
    }

    .top-menu > li:hover .submenu,
    .top-menu > li:hover .submenu-standart {
        display: block;
    }
}

/* End of DropDown menu */

/* Profile */
.profile_block {
    margin: 30px auto;
    width: 415px;
    min-height: 150px;
    padding: 20px 30px;
    position: relative;
    background: #fff;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1, #fff));
    background: -moz-linear-gradient(100% 50%, #fff, #fff 10%, #f3f3f3);
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-radius-bottomright: 60px 5px;
    border-bottom-right-radius: 60px 5px;
}

.profile_block:before {
    content: '';
    width: 98%;
    z-index: -1;
    height: 100%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1, #fff));
    background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f9f9f9);
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-radius-bottomright: 60px 5px;
    border-bottom-right-radius: 60px 5px;
    -webkit-transform: skew(2deg, 2deg) translate(3px, 8px);
    -moz-transform: skew(2deg, 2deg) translate(3px, 8px);
    -o-transform: skew(2deg, 2deg) translate(3px, 8px);
    transform: skew(2deg, 2deg) translate(3px, 8px);
}

.profile_block:after {
    content: '';
    width: 98%;
    z-index: -1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1, #fff));
    background: -moz-linear-gradient(0 0 360deg, #f3f3f3, #fff 10%, #f6f6f6);
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: skew(2deg, 2deg) translate(-1px, 2px);
    -moz-transform: skew(2deg, 2deg) translate(-1px, 2px);
    -o-transform: skew(2deg, 2deg) translate(-1px, 2px);
    transform: skew(2deg, 2deg) translate(-1px, 2px);
}

.profile_block #offer_fight_btn {
    margin: 3px auto 0 auto;
    display: block;
    max-width: 80%;
}

.profile_block #avatar_img{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.profile_icon{
    display: inline-block;
    margin: 10px 0 5px 25%;
}

.profile_icon_vk{
    margin-right: 15px;
    color: black;
}

.profile_icon_youtube{
    margin-left: 15px;
    color: black;
}
/* End of profile */

/* The block with latest news */
.latest-news .news-block {
    display: inline-block;
    border-radius: 5px;
    border: 3px solid #4e5548;
}

.latest-news h2 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: black;
    margin: 30px 0;
}

.latest-news img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 6px double #48474b;
}

.latest-news p {
    text-align: center;
    font-family: 'Noto Serif', serif;
    margin: 5px 80px 10px 80px;
    color: black;
}

@media (max-width: 1086px) {
    .latest-news p {
        margin: 5px 40px 10px 40px;
    }

    .latest-news img {
        height: 150px;
        width: 250px;
        margin: 10px auto;
        border-radius: 10px;
        border: 6px double #48474b;
    }
}

/* End of the block with latest news */

/* Popular tutorials */
.popular_tutorials {
    margin-bottom: 10px;
}

.popular_tutorials h2 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: black;
    margin: 30px 0;
}

.popular_tutorials h3 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: black;
}

.popular_tutorials iframe {
    margin: 0 auto;
    display: block;
    border: 3px solid #4e5548;
    padding: 5px;
}

/* End of popular tutorials */

/* Footer */
.main_content {
    min-height: calc(100vh - 240px);
}

footer {
    background-image: url(../images/footer_texture.jpg);
    background-repeat: repeat;
    margin-top: 30px;
}

footer h2 {
    color: white;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

footer .first_column, .third_column ul li {
    text-align: center;
    color: white;
    font-family: 'Noto Serif', serif;
}

footer .second_column ul li {
    list-style-type: square;
    color: white;
    font-family: 'Noto Serif', serif;
    margin-left: 30px;
}

footer .second_column ul li a {
    text-decoration: none;
    color: white;
}

/* End of footer */

/* Registration */
#sign_up_url {
    margin-top: 5px;
    display: block;
}

/* End of registration */

/* Books */
.books .book-block {
    display: block;
    margin-top: 10px;
}

.books h4 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 16pt;
}

.books img {
    display: block;
    margin: 0 auto;
}

.books a {
    text-decoration: none;
}

/* End of books */

/* A book */
.book {
    display: block;
    margin-top: 10px;
    font-family: 'Geneva', sans-serif;
    color: black;
}

.book .headers_4 {
    font-size: 14pt;
}

.book .headers_3 {
    font-size: 16pt;
}

.book img {
    margin-bottom: 20px;
}

.book .reviews {
    margin-top: 20px;
}

/* End of a book */

/* A modal book */
.book-modal-block {
    text-align: center;
}

.book-modal-block a {
    color: black;
    text-decoration: none;
    font-size: 12pt;
}

#modal-books .delete-book {
    display: inline-block;
    cursor: pointer;
    padding-top: 0px;
}

/* End of a modal block*/

/* Elements */
.elements table {
    margin: 5% auto 0 auto;
}

.elements td {
    padding: 0 10px;
}

.elements .element-block {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #4e5548;
}

.elements .element-block h1 {
    font-family: 'Noto Serif', serif;
    color: black;
    margin: 30px 0;
}

.elements .element-block img {
    border-radius: 10px;
    border: 6px double #48474b;
    margin: auto 15px 10px 15px;
}

.elements_lvl .element-block {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #4e5548;
    margin-top: 5%;
}

.elements_lvl .element-block h1 {
    font-family: 'Noto Serif', serif;
    color: black;
    margin: 30px 0;
}

.elements_lvl .element-block img {
    border-radius: 10px;
    border: 6px double #48474b;
    margin: auto 45px 20px 45px;
}

.elements_lvl .add_element {
    display: block;
    max-width: 70%;
    margin: 0 auto 5px auto;
}

.element-modal-block {
    text-align: center;
}

.element-modal-block {
    color: black;
    font-size: 12pt;
}

.element-modal-block img{
    border-radius: 5px;
}


.element-modal-block .delete-element {
    cursor: pointer;
}

/* End of elements */

/* Competitions */
@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.form-creating {
    animation: show 1s linear;
    margin-bottom: 10px;
}

.competition-block {
    animation: show 1s linear;
}

.competitions tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.competitions tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.competitions table {
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 10px;
}

.log_in {
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
    animation: show 1s linear;
}

@keyframes show_view {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.competition_view {
    animation: show_view 1s linear;
    display: block;
    margin-bottom: 90px;
    margin-top: 40px;
    padding: 30px 60px;
    width: 450px;
    min-height: 250px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.competition_view:before {
    content: '';
    width: 110%;
    left: 0;
    height: 105%;
    z-index: -1;
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
    transform: translate(-5%, -6%);
}

.competition_view:after {
    content: '';
    position: absolute;
    top: -25px;
    left: 30%;
    width: 200px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.0));
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
    border-right: 1px dashed rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.view_participants {
    animation: show_view 1s linear;
}

.view_participants h2 {
    text-align: center;
}

.view_participants table {
    margin: 0 auto;
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 5px;
}

.view_participants tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.view_participants tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/* End of competitions */

/* Fights */
@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fight-block {
    animation: show 1s linear;
}

.fights tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.fights tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.fights table {
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 10px;
}

.delete-fightOffer {
    cursor: pointer;
}

.delete-ownFightOffer {
    cursor: pointer;
}

.accept-fight {
    cursor: pointer;
}

.fightOffers tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.fightOffers tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
    padding: 5px;
}

.fightOffers table {
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 10px;
}

/* End of fights */

/* Participants of competitions */
.slide p,
.slide [type="checkbox"] {
    display: none;
}

.slide [type="checkbox"]:checked ~ p {
    display: block;
}

.slide label {
    cursor: pointer;
}

/* End of participants of competitions */

/* Challenges */
.challenges {
    animation: show_view 1s linear;
}

.challenges tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.challenges tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
    padding: 5px;
}

.challenges table {
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 10px;
}

.challenge {
    margin-top: 10px;
}

.challenge iframe {
    margin-left: 30%;
}

.challenge .headers_4 {
    font-size: 14pt;
}

.challenge .headers_3 {
    font-size: 16pt;
}

.challenge-block {
    display: block;
    text-align: center;
}

.challenge_participation tr th {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.challenge_participation tr td {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.challenge_participation table {
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 10px;
    margin: 0 auto;
}

.challenge_participation tr td iframe {
    display: block;
    margin: 5px auto;
}

/* End of challenges */

/* Articles */
.articles .article-block {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}

.articles .article-block .article_headers2 {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 19pt;
}

.articles .article-block h4 {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 16pt;
}

.articles .article-block img {
    border-radius: 10px;
}

.articles hr {
    border: none;
    border-top: medium double #333;
    color: #333;
    margin-right: 40%;
}

.articles .article-block .btn-view {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
}

.articles .article-block .preview {
    display: block;
}

.articles h2 a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif', serif;
}

.articles h2 a:hover {
    color: #3c3c3c;
}

.article {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}

.article .article_headers2 {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 19pt;
}

.article h4 {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 16pt;
}

.article img {
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.article .content-article-block {
    margin-top: 20px;
    display: inline-block;
    max-width: 90%;
}

/* End of articles */

/* Map with playgrounds*/
#map {
    height: 500px;
    width: 100%;
}

.sports_facility {
    display: block;
    margin-top: 10px;
    font-family: 'Geneva', sans-serif;
    color: black;
}

.sports_facility .headers_4 {
    font-size: 14pt;
}

.sports_facility .headers_3 {
    font-size: 16pt;
}

.sports_facility img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.sports_facility .reviews {
    margin-top: 20px;
}

.map_img {
    margin: 3px auto;
    display: block;
    border-radius: 10px;
}

/* End of map with playgrounds */